*.save
*.beam
*.orig
*.bak
*.swp
.old
ebin/
deps/
releases/
logs/
.eunit/
erl_crash.dump
TAGS
/.idea/
config-manager
*.pyc
.venv
comparison.html
*.log*
*.swo
*.trace
.rebar
mnesia/
*.cache
.ipynb_checkpoints/
_build
rebar.lock
*.d
.erlang.mk/
src/crawlera_version.erl
config/devel_local.config
.DS_Store
docker-compose_local.yml
