[
    {erlang_consul_node_discovery, [
        {node_register_callback, {erlang_node_discovery, add_node}},
        {node_unregister_callback, {erlang_node_discovery, remove_node}},
        {consul_response_parser, {erlang_consul_node_discovery_utils, parse_consul_response}},
        {consul_url, "http://127.0.0.1:8500/v1/kv/upstreams/?recurse"},
        {pull_interval, 30000}
    ]}
].